<h1> Product Edit </h1>

<div class=":id/edit">
 <form action="/products/{{product.id}}?_method=PUT" method="POST" >

  Name: <input type="text", name= "name" value="{{product.name}}">
  Price: <input type="text", name= "price" value="{{product.price}}">
  Inventory: <input type="text", name= "inventory" value ="{{product.inventory}}">
  <button type="submit">Submit</button>
</form>
</div>
<ul class=':id/edit'>
  <br>
  <h3>Original:</h3>
  <li>name: {{{product.name}}}</li>
  <li>price: {{product.price}}</li>
  <li>inventory: {{product.inventory}}</li>
</ul>
<br>
<form action="/products/{{id}}?_method=DELETE" method="POST">
  <input type="submit" value="Delete Product">
</form>
<br>
<a href="/products" class="button"> Back to Products</a>
{{> footer}}