<h1> Products </h1>
<style>
.button {
    background-color: cornflowerblue;
    color: red;
    padding: 15px 12px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 20px;
    margin: 10px 20px;
    border-radius: 50%;
}
</style>



<a href="/products/new" class="button">Make New Product!</a>
  <div class="products">
  <ul class='productList'>
    {{#each productsList}}
      <br>
      <li>ID : {{id}}</li>
      <li>Name : {{name}}</li>
      <li>Price : {{price}}</li>
      <li>Inventory : {{inventory}}</li>
      <br>
      <form action="/products/{{id}}/edit" method="GET" >
       <input type="submit" value="Edit Product">
      </form>
      {{!-- <a href="/products/{{id}}/edit" class="button"> Edit</a> --}}

    {{/each}}
  </ul>
</div>

{{> footer}}

