<h1> Product (singular) </h1>

<div class="products/:id">
    <ul>
      <li>Name: {{product.name}}</li>
      <li>ID: {{product.id}}</li>
      <li>Price: {{product.price}}</li>
      <li>Inventory: {{product.inventory}}</li>
    </ul>
  </div>
<br>
<br>
<br>
<form action="/products/{{product.id}}/edit" method="PUT" >
  <input type="submit" value="Edit Product">
</form>
<br>

<form action="/products/{{product.id}}?_method=DELETE" method="POST" >
  <input type="submit" value="Delete Product">
</form>
<br>

<a href="/products" class="button"> Back to Products</a>
{{> footer}}