<h1> Articles (singular) </h1>

<div class="articles/:title">
    <ul>
      <li>Title: {{article.title}}</li>
      <li>Author: {{article.author}}</li>
      <li>Body: {{article.body}}</li>
    </ul>
  </div>
<br>

<a href="/articles/{{article.title}}/edit" method="PUT" class="button"> Edit Article </a>
<br>
<br>
<br>
<a href="/articles/{{article.title}}?_method=DELETE" method="POST" class="button"> Delete Article </a>
<br>
<br>
<a href="/articles" class="button"> Back to Articles</a>
{{> footer}}