<h1> Article Edit </h1>

<div class=":title/edit">
  <form action="/articles/{{article.title}}?_method=PUT" method="POST" >
  Title: <input type="text", name= "title" value='{{article.title}}'>
  <br> <br>
  Author: <input type="text", name= "author" value='{{article.author}}'>
  <br><br>
  Body: <textarea name= "body" cols="50" rows="10">{{article.body}}</textarea>
  <button type="submit">Submit</button>
</form>
</div>
<ul class=':title/edit'>
  <br>
  <h3>Original:</h3>
  <li>title: {{{article.title}}}</li>
  <li>author: {{article.author}}</li>
  <li>body: {{article.body}}</li>
</ul>
<br>
<br>
<a href="/articles" class="button"> Back to Articles</a>
{{> footer}}