<h1> Article Edit </h1>

<div class=":title/edit">
  <form action="/articles/{{title}}?_method=PUT" method="POST" >

  Title: <input type="text", name= "name" value='{{title}}'>
  Author: <input type="text", name= "author" value='{{author}}'>
  Body: <input type="text", name= "body" value ='{{body}}'>
  <button type="submit">Submit</button>
</form>
</div>
<ul class=':title/edit'>
  <br>
  <h3>Original:</h3>
  <li>title: {{{title}}}</li>
  <li>author: {{author}}</li>
  <li>body: {{body}}</li>
</ul>
<br>
<form action="/articles/{{title}}?_method=DELETE" method="POST">
  <input type="submit" value="Delete Product">
</form>
<br>
<a href="/articles" class="button"> Back to Articles</a>
{{> footer}}